@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;900&display=swap');



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    min-height: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #707070;
    gap: 30px;
    padding: 20px;
}

.list-container ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: black;
    opacity: 1;
    font-size: 19px;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 90px;
}

.btn-check {
    /* width: 100%; */
    color: #ffffff;
    background: #1492E6;
    box-shadow: 0px 16px 48px #00000029;
    border-radius: 33px;
    border: none;
    height: 65px;
    cursor: pointer;
    font-size: 16px;
    min-width: 250px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 60px;
}

.left-side .lorem-eight {
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 100px;
}

.right-side {
    width: 100%;
    height: 510px;
}

.right-side img {
    width: 100%;
}

.text-card-title h1 {
    text-align: center;
}

.text-card-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-card-title .lorem-eight {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text-card-container .text-card-title {
    margin-bottom: 50px;
}

.text-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

}

.text-container .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    padding: 30px 15px;
}

.work-card-title {
    margin-bottom: 30px;
}

.work-card-title h1 {
    text-align: center;
}

.image-container {
    display: flex;
    gap: 40px;

}

.work-img-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.image-size {
    width: 100%;
    height: 250px;
    /* object-fit: cover; */
    margin-bottom: 30px;
}

.image-size img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.work-card h5 {
    margin-bottom: 30px;
}

.price-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 70px;
}

.content-heading {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 50px;
}

.content-heading h1 {
    text-align: center;
}

.small {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
    align-items: center;
}

.small-image {
    width: 50px;
}

.small-image .img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price-btn {
    margin-top: 20px;
}

.logos-container-main {
    padding-top: 50px;
    padding-bottom: 70px;
}

.logos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    place-items: center;
}

.logos-container .each-logo .each-logo-img {
    width: 100%;
    max-width: 200px;
    height: 100px;
    margin-bottom: 20px;
}

.logos-container-main .logos-container-title h1 {
    padding-bottom: 50px;
    text-align: center;
}

.logos-container .each-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-container-main {
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-container-main .footer-content {
    width: 100%;
    height: 100%;
    color: white;
}

.footer-container-main .footer-content h3 {
    text-align: center;
}

.main-profile-container h1 {
    text-align: center;
    margin-bottom: 76px;
}

.main-profile-center {
    /* padding: 50px; */
    background-color: whitesmoke;
    border-radius: 30px;
    margin-bottom: 200px;
}

.rating-container {
    display: flex;
    gap: 30px;
    align-items: center;
    /* padding-bottom: 50px; */
    margin-bottom: -50px;
}

.rating-container .rating-image {
    width: 50px;
    height: 50px;
}

.rating-container .rating-image img {
    width: 100%;
    height: 100%;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    position: relative;
    transform: translateY(100px);
    border: none;
}

.profiles {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 2px grey;
}

.user-profile {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}

.name-stars {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 150px;
}

.star-rating {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
    height: auto;
}

.star-rating img {
    width: 15px;
    /* height: 100%; */
}

.profile-photo {
    width: 50px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



@media screen and (min-width: 992px) {
    .main-profile-center {
        padding: 50px;
    }

    .main-container {
        grid-template-columns: 1fr 1fr;
    }

    .text-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .work-img-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .profile-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .price-container {
        grid-template-columns: 1fr 1fr;
    }
}